%h1.well
  Welcome to Black and White, the best clan in Clash of Clans. We are a warring clan, always looking for a strong TH8 or TH9 that can contribute in war. If you have what it takes, sign up and post in the application page. If you are already a member, sign up using your IGN so there won't be any confusion. Clash on!