%h3
  Forum

- @topics.each do |topic|
  %ul.list-group
    %li.list-group-item
      %strong(style="font-size:150%")
        = link_to topic.title, forum_threads_path(topic)
      %br
      = topic.description
