%h3
  = link_to 'Forum', forum_path

- @topics.each do |topic|
  %ul.list-group
    %li.list-group-item
      %strong(style="font-size:150%")
        = link_to topic.title, forum_subjects_path(topic)
      %br
      = topic.description
